<header id="header" class="header-2">
  {% set class_sticky = '' %}
  {% if sticky_menu == 1 %}
    {% set class_sticky = 'gv-sticky-menu' %}
  {% endif %}  

  <div class="header-main">
    <div class="container">
      <div class="header-inner clearfix">
        <div class="row">
          <div class="col-md-3 col-sm-4 col-xs-4 branding">
            {% if page.branding %}
              {{ page.branding }}
            {% endif %}
          </div>
          <div class="col-md-9 col-sm-8 col-xs-8 right-header">
            {% if page.header_right %}
              {{ page.header_right }}
            {% endif %}
          </div>
        </div>  
      </div>
    </div>  
  </div>

  <div class="main-menu {{ class_sticky }} {% if link_request %} has-link-request{% endif %}">
    <div class="container header-content-layout">
      <div class="header-main-inner p-relative">
        <div class="row">
          <div class="col-md-12 col-sm-12 col-xs-12 p-static">
            <div class="area-main-menu">
              <div class="area-inner">
                <div class="gva-offcanvas-mobile">
                  <div class="close-offcanvas hidden"><i class="fa fa-times"></i></div>
                  {% if page.main_menu %}
                    {{ page.main_menu }}
                  
                  {% endif %}  
                  {% if page.offcanvas %}
                    <div class="after-offcanvas hidden">
                      {{ page.offcanvas }}
                    </div>
                 {% endif %}
                </div>
                  
                <div id="menu-bar" class="menu-bar menu-bar-mobile d-lg-none d-xl-none">
                  <span class="one"></span>
                  <span class="two"></span>
                  <span class="three"></span>
                </div>
    
                {% if link_request %}
                  <div class="header-action">
                    <a href="{{link_request}}" class="btn-large btn-theme">{{ 'Get a free quote'|t }}</a>
                  </div>
                {% endif %} 

              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>

</header>


